{% extends "base.html.twig" %}

{% block body %}
    {% include 'github/partials/intro.twig' with {
        user: user
    } %}
    {% include 'github/partials/languages.twig' with {
        languages: languages
    } %}
    {% include 'github/partials/repositories.twig' with {
        repositories: repositories
    } %}
    {% include 'github/partials/contributions.twig' with {
        contributions: contributions
    } %}
    {% include 'github/partials/organizations.twig' with {
        organizations: organizations
    } %}
    {% include 'github/partials/about.twig' %}
{% endblock %}