<h1>{{ user.name }}</h1>

<p>
    On GitHub since <strong>{{ user.joinDate }}</strong>, <strong>{{ user.name }}</strong> is a developer based in
    <strong>{{ user.location }}</strong>
    with <strong>{{ user.repositoriesCount }}</strong> public repositories and <strong>{{ user.followersCount }}
    </strong> followers.
</p>
<hr/>