<h1>Repositories</h1>

{% for repo in repositories %}
    <div>
        <h3><a href="{{ repo.url }}">{{ repo.name }}</a></h3>
        <h5>{{ repo.description }}</h5>
        <h5>{{ repo.createdAt }} – {{ repo.pushedAt }}</h5>

        <p>
            This repository has <strong>{{ repo.starsCount }} stars</strong> and <strong>{{ repo.forksCount }}
                forks</strong>. If you would
            like more
            information about this repository and my contributed code, please visit <a href="{{ repo.url }}">the
                repo</a> on
            GitHub.
        </p>

        <hr/>
    </div>
{% endfor %}

<hr />